---
- name: Pre-Requisiste-1 | Validating that target OS is RHEL 8 or 9 only
  ansible.builtin.assert: 
    that: 
        - ansible_distribution == "RedHat" 
        - ansible_distribution_major_version in ["8", "9"] 
    fail_msg: "The operating system is not from supported list" 
    success_msg: "The operating system is from supported List"
  when:
        - os_check

- name: Pre-Requisiste-2 | Verifying if at least 2000 MB RAM and 2 cores present
  ansible.builtin.assert: 
    that: 
        - ansible_processor_nproc >= 2
        - ansible_memtotal_mb >= 2000 
    fail_msg: "Please make sure you have at least 2000 MB RAM and 2 Cores" 
    success_msg: "Sufficient resources are available"
  when:
        - os_check

- name: Pre-Requisite-3 | Gathering selinux status 
  ansible.builtin.shell: getenforce | grep -i Enforcing | wc -l
  register: se_status

- name: Pre-Prequsisite-4 | Validating presence of selinux module 
  ansible.builtin.shell: ansible-galaxy collection list 
  register: collections_list
  delegate_to: localhost

- name: Pre-Requisiste-5 | Check if ansible.posix.selinux is installed 
  ansible.builtin.assert: 
    that: 
      - "'ansible.posix' in collections_list.stdout" 
    fail_msg: "The ansible.posix.selinux module is not installed. Please install it before running this playbook."
    success_msg: "Able to locate the relevant collection successfully"
  delegate_to: localhost
